.custom_scroll::-webkit-scrollbar {
  width: 10px;
}

.custom_scroll::-webkit-scrollbar-thumb {
  border-radius: 30px;
  border: 1px solid #f8f8f8;
  background: #8daab9cc;
}

.custom_scroll::-webkit-scrollbar-thumb:hover {
  background: #829caa;
}
