.boardSection {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.welcome_date,
.board_weekFilter {
  display: flex;
  justify-content: space-between;
  height: 8vh;
}

.welcome_span,
.date_span {
  margin: 20px 30px 10px;
}

.welcome_span {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.date_span {
  font-family: "Poppins", sans-serif;
  color: #707070;
}

.board_span,
.week_filter {
  margin: 20px 30px 20px;
}

.board_span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
}

.week_filter {
  font-family: "Poppins", sans-serif;
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
}

.week_filter img {
  cursor: pointer;
}

.week_filter_options {
  position: absolute;
  width: max-content;
  top: 100%;
  right: 0;
  font-family: var(--main-font);
  font-weight: 500;
  background: #fff;
  box-shadow: 0px 2px 22px 0px #7e7a7a40;
  padding: 10px;
  border-radius: 10px;
}

.week_filter_options span {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  padding: 4px 50px 2px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.week_filter_options span:hover {
  background: #e0e0e0ae;
}

.boardsContainer {
  flex: 1;
  width: 100%;
  overflow-x: auto;
  height: 100%;
  margin-bottom: 5px;
}

.boards {
  min-width: fit-content;
  display: flex;
  gap: 20px;
  height: 100%;
  padding: 20px 20px 5px 20px;
}
