.container {
    height:100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.welcome_date {
    display: flex;
}

.board_weekFilter {
    display: flex;
}

.boardsContainer {
    display: flex;
}