.btn {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 30px;
  padding: 20px 30px;
  margin: 5px 0;
  border: none;
  outline: none;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background: none;
}

.btn:hover {
  background: #3674ef2c;
}

.btn:active {
  background: #0a79f93a;
}

.btn > span {
  display: inline-flex;
  align-items: center;
  padding: 0 10px;
}
