.custom_scroll::-webkit-scrollbar {
  width: 10px;
}

.custom_scroll::-webkit-scrollbar-thumb {
  border-radius: 30px;
  border: 1px solid #f8f8f8;
  background: #8daab9cc;
}

.custom_scroll::-webkit-scrollbar-thumb:hover {
  background: #829caa;
}

.taskpage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background-color: red; */
}

.taskpage_box {
  padding: 25px 30px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 45vw;
  height: 80vh;
  border: 2px solid #c2cedb;
  border-radius: 10px;
}

.taskpage_top {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: var(--sub-font);
}

.taskpage_top_label {
  font-size: 11px;
  text-transform: uppercase;
}

.taskpage_top_label img {
  margin-right: 5px;
}

.taskpage_top_title {
  font-size: 24px;
  font-weight: 500;
}

.taskpage_tasks {
  height: 60vh;
  overflow-y: auto;
  margin: 10px 0;
}

.taskpage_tasks_count {
  font-family: var(--sub-font);
}

.taskpage_tasks_list {
  font-family: var(--sub-font);
  font-weight: 400;
  font-size: 14px;
  margin-right: 10px;
}

.tasks_task {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border: 1px solid #c2c2c2a9;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px #4d40551a;
  padding: 0px 10px;
  margin: 10px 0;
}

.tasks_task input[type="checkbox"] {
  height: 16px;
  width: 16px;
  pointer-events: none;
}

.tasks_task span {
  flex: 1;
  padding: 5px;
  margin: 0 10px;
  /* border: none; */
}

.taskpage_footer {
  display: flex;
  align-items: center;
  margin-top: auto;
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 500;
  /* justify-content: space-between; */
}

.date_value {
  background-color: #cf3636;
  color: #fff;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 10px;
}
